@model IEnumerable<GaoXiaoAsp.Models.DiscussionRoom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Floors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomAccess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxSize)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Floors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomAccess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxSize)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Rid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Rid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Rid })
        </td>
    </tr>
}

</table>
