@model GaoXiaoAsp.Models.LendingStatu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LendingStatu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiscussionRoom1.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscussionRoom1.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Librarian.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Librarian.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsExpired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsExpired)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LendingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
