@model IEnumerable<GaoXiaoAsp.Models.LendingStatu>

@{
    ViewBag.Title = "Index";
}

@if (TempData["SignIn"] != null)
{
    <script>alert("登入成功！");</script>
}


@{
    if (Session["user"] != null)
    {
        if (Session["user"].ToString().Equals("user"))
        {
            <div class="container" style="display: flex; justify-content: center; align-items: center; height: 600px;">
                <h2>
                    No Permission!
                </h2>
            </div>
        }
        else
        {
            <table class="table" style="margin-top: 100px;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DiscussionRoom1.RoomNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Librarian.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfPeople)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsExpired)
                    </th>
                    <th></th>
                </tr>
            
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscussionRoom1.RoomNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Librarian.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsExpired)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.LendingID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.LendingID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.LendingID })
                    </td>
                </tr>
            }
            
            </table>
        }
    }
}
